.leftshift {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

#sidebarupper {
  float: left;
  width: 690px;
}

#content-downer {
  padding-top: 30px;
  border-top: solid 1px #fff;
}

.headline {
  text-transform: uppercase; 
  color:#ffffff;
}
